<!DOCTYPE html>
<html>
<head>
<meta chaset="utf-8">
<meta name=vewport conten width=device-widt intial-scale>
    <title> diemsa</title>
    <link rel="stylesheet" href="file:///C:/Users/ALMACEN/Documents/NUEVO/STATIC/inicio.css">
</head>
<body style="background-color: #1281ff;">
<img src="file:///C:/Users/ALMACEN/Documents/NUEVO/fondo1.jpg" alt="imagen" width="1900" height="200">
<br>
<div class="btn-group">
 <a href="file:///C:/Users/ALMACEN/Documents/NUEVO/TEMPLATES/inicio.html">
<button class="myButton btn-group btn">INICIAR </button>
</a>
<a href="file:///C:/Users/ALMACEN/Documents/NUEVO/TEMPLATES/registrarse.html">
<button  class="myButton bouncy2 btn-group btn">REGISTRARTE</button>
</a>
<a href="file:///C:/Users/ALMACEN/Documents/NUEVO/TEMPLATES/.html">
<button class="myButton btn-group btn">NOSOTROS</button>
</a>
</div>
<CENTRADO>
   <H2>NOSOTROS</H2> 
</CENTRADO>
<br>
<centrado>
<P>
     Somos una empresa que se dedica a la fabricación de muebles para tiendas
      departamentales y de exhibición utilizando la mejor calidad de 
      materia prima para nuestros productos.
    DIEMSA MR es una empresa mexicana con más de 25 años de experiencia, especializada
     en el diseño, fabricación e instalación de mobiliario para comercios y negocios.
     Ofrecen soluciones personalizadas, incluyendo exhibidores, gondolas y mostradores
     para tiendas departamentales, hoteles y otros sectores. La empresa se enfoca en la calidad,
     innovación y satisfacción del cliente, proporcionando servicios de valor añadido
      como mantenimiento e instalación, además de un compromiso social con su comunidad. Incluyen
      exhibidores, gondolas, mostradores y mobiliario para tiendas departamentales. 

</P>
</centrado>
<br>
<center>
<img src="file:///C:/Users/ALMACEN/Documents/NUEVO/imagen1.jpeg" alt="imagen"  width="1500" height="300">    
</center>
<centrado><h2>VALORES</h2></centrado>
<CENTRADO>
<p>
Calidad:
Se especializan en muebles de primera calidad, utilizando materiales 
seleccionados para ofrecer la mejor experiencia de compra. 
</p>
<p>
Innovación:
Son una empresa dinámica e innovadora en procesos y tecnologías. 
</p>
<p>
Experiencia:
Cuentan con más de 25 años de experiencia en el mercado mexicano 
de mobiliario de exhibición. 
</p>
<p>
Compromiso social:
Han mostrado contribuciones a proyectos comunitarios, como el apoyo 
a la realización de pozos de agua potable. 
</p>
</CENTRADO>

<center>
<img src="file:///C:/Users/ALMACEN/Documents/NUEVO/imagen4.jpeg" alt="imagen"  width="1000" height="300">    
</center>
<br>

  <footer>
        <p>&copy; MOBILIARIO DIEMSA MR</p>
    </footer>

</body>
</html>